@model ProductListViewModel

@{

    ViewBag.Title = "Ürün liste";

    Layout = "_Layout";
}

<h2>Ürün Listesi</h2>


<table class="table table-responsive">

    @foreach(var product in Model.products)
    {
        <tr>
            <td>@product.ProductId</td>

            <td>@product.ProductName</td>
            <td>@product.UnitPrice</td>
            <td>@product.UnitsInStock</td>
            <td>@product.QuantityPerUnit</td>




        </tr>
    }


</table>